@charset "UTF-8";
$break_point: 768px;
$base_w_sp: 750;
$base_w: 2732;
$break_pointH: 634px;
$base_height: 1270;
$bg-color: #7eb8cb;

$new_vh: calc(var(--vh, 1vh) * 100);

@mixin mq() {
  @media screen and (min-width: $break_point) {
    @content;
  }
}
@mixin mq_maxH() {
  @media screen and (max-height: $break_pointH) {
    @content;
  }
}



@mixin DNPShueiMinPr6N_L(){
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin DNPShueiMinPr6N_M(){
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 500;
  font-style: normal;
}
@mixin DNPShueiMinPr6N_B(){
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 600;
  font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-family: inherit;*/
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
}
*, ::after, ::before {
	box-sizing: border-box;
	border-style: solid;
	border-width: 0
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}
address, blockquote, dl, figure, form, iframe, p, pre, table {
	margin: 0
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0
}
ol, ul {
	margin: 0;
	padding: 0;
	list-style: none
}
a {
	background-color: transparent;
	text-decoration: none;
	color: inherit
}
html {
	font-size: 62.5%
}
img, svg, video {
	width: 100%;
	height: auto;
	vertical-align: bottom
}
img {
  user-drag: none;
  -webkit-user-drag: none;
}
@media screen and (max-width:$break_point) {
	.sp {
		display: block;
	}
	.pc {
		display: none!important;
	}
}
@media screen and (min-width:$break_point) {
	.sp {
		display: none!important;
	}
	.pc {
		display: block;
	}
}
.scroll-in {
	opacity: 0;
	// transform: translateY(20px);
}
.scroll-in.show {
	opacity: 1;
	transition: .5s ease;
	transform: none!important;
}
body, html {
	width: 100%;
	height: 100%;
	background-color: #fffef1;
}
body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;
	font-family: 'Hiragino Kaku Gothic ProN', 'Hiragino Maru Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', sans-serif;
	font-feature-settings: 'palt';
	line-height: 1;
	position: relative;
	&.noscroll {
	  overflow: hidden;
	}
	&.scroll {
	  overflow: auto;
	}
}

.g-container {
  &.scrollable-vertical { ////縦スクロールで横にスクロールさせる。
    height: 1000vh;
  }
  .scroll-contents {
    &.scrollable {
      overflow-x: scroll;
      opacity: 1;
      visibility: visible;
      transition: 1s ease;
    }
    .scroll-inner {
      &.show {
        box-shadow: 24px 24px 6px 0 rgba(0, 0, 0, 0.11);
        opacity: 1;
        visibility: visible;
        transition: 1s ease;
        .main-visual {
          .main-pan-logo, .main-brand-logo {
            img {
              opacity: 0;
            }
          }
          .main-ttl-catch {
            img {
              transform: translateY(10px);
              opacity: 0;
            }
          }
          &.show {
            .main-img {
              transform: scale(1);
              transition: 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
            }
            .main-pan-logo, .main-brand-logo {
              img {
                animation: bounce .7s cubic-bezier(0.4, 0, 1, 1) .5s forwards;
                @keyframes bounce {
                  0% {
                    transform: translateY(-30px);
                    opacity: 0;
                  }
                  80% {
                    transform: translateY(0);
                  }
                  90% {
                    transform: translateY(-5px);
                  }
                  100% {
                    transform: translateY(0);
                    opacity: 1;
                  }
                }
              }
            }
            .main-ttl-catch {
              img {
                transition: .7s ease .5s;
                transform: none;
                opacity: 1;
              }
            }
            + .main-lead {
              .lead-house {
                opacity: 1;
                transition: .7s ease .5s;
              }
            }
          }
        }
      }
    }
  }
}


.g-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  // @include font_DNP_ShueiMGoStd_B();
  font-feature-settings: normal;
  color: #000;

  .scroll-contents {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    position: fixed;
    left: 0;
    top: 0;
    // opacity: 0;
    // visibility: hidden;

    background-image: url(/static/docs/nikoand/pages/202312product_zakka/assets/img/vol1/page1-bg-layer.png);
    background-size: cover;
    // background-attachment: fixed;
    
    .pc-link {
      display: none;
      @include mq() {
        position: fixed;
        right: (111px/2);
        bottom: calc(50% + (661px/2));
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        gap: 20px;
        z-index: 1;
        
        .brandsite-pc,.another-page,.allitems{
          width: calc(267px/2);
          display: flex;
          justify-content: center;
          padding: calc(15px/2) 0;
          position: relative;
          
          .sankaku{
            position: absolute;
            right: 5.5px;
            top: 7px;
            display: inline-block;
            width: 5px;

          }
        }

        .brandsite-pc,.another-page{
          position: relative;
          &::before{
            content: '';
            display: block;
            background: #000;
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }

        .brandsite-pc{
          .txt-img{
            width: calc(129px/2);
          }
        }
        .another-page{
          .txt-img{
            width: calc(178px/2);
          }
        }

        .allitems{
          background: #fff;
          .txt-img{
            width: calc(177px/2);
          }
        }
      }
    }
    
    .scroll-inner {
      position: relative;
      height: (1270px/2);
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: fit-content;
      background: $bg_color;
      transition: box-shadow 0.5s ease 3s;
      @include mq_maxH() {
        height: 100%;
      }

      .mainvisual { //メインビジュアル
        width: fit-content;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mq_maxH() {
          // width: (750/1270) * #{$new_vh});
          // width: calc((750 / 1270) * #{$new_vh});
          // width: 100vw;
          // max-width: (750px/2);
          width: auto;
        }
       .heading{
          font-size: 11px;
          width: calc(657px/2);
          display: flex;
          flex-direction: row-reverse;
          flex-direction: column;
          justify-content: space-between;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          @include DNPShueiMinPr6N_M();
          color: #000;
          line-height: calc(38/22);
          position:relative;
          margin-top: calc(63px/2);
       }

       .heading-txt{
        width: calc(438px/2);
       }

       .heading-ttl{
          width: calc(165px/2);
       }

       .page1-main{
          width: calc(778px/2);
          margin-top: 20px;
       }

       .page-main-logo{
          width: calc(348px/2);
          margin-top: 10px;
       }

       .page-ofuda{
          position: absolute;
          width: calc(69px/2);
          left: calc(37px/2);
          bottom: calc(43px/2);
       }
      }

      .main-lead { //メインリード
        // width: (590px/2);
        min-width: (600px/2);
        width: 100%;
        height: 100%;
        margin-left: (80px/2);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        opacity: 1;
        @include mq_maxH() {
          // width: (600/1270) * #{$new_vh});
          // // margin-left: (80/1270) * #{$new_vh});
          min-width: initial;
          width: calc((600 / 1270) * #{$new_vh});
          // margin-left: calc((80 / 1270) * #{$new_vh});
        }
        .copy {
          width: (295px/2);
          margin-left: auto;
          margin-right: 0;
          opacity: 0;
          @include mq_maxH() {
            // width: (295/1270) * #{$new_vh});
            width: calc((295 / 1270) * #{$new_vh});
          }
        }
        .lead-img {
          width: 100%;
          margin-bottom: (30px/2);
          opacity: 0;
          @include mq_maxH() {
            // width: (590/1270) * #{$new_vh});
            // width: calc((590 / 1270) * #{$new_vh});
          }
        }
        .lead-txt {
          // @include font_DNP_ShueiMGoStd_B();
          font-size: (24px/2);
          line-height: (40/24);
          margin-bottom: (20px/2);
          opacity: 0;
          @include mq_maxH() {
            font-size: calc((24 / 1270) * #{$new_vh});
          }
        }
        .about {
          width: (109px/2);
          margin-bottom: (20px/2);
          opacity: 0;
          @include mq_maxH() {
            // width: (109/1270) * #{$new_vh});
            width: calc((109 / 1270) * #{$new_vh});
          }
        }
        .about-txt {
          // @include font_DNP_ShueiMGoStd_B();
          font-size: (24px/2);
          line-height: (40/24);
          opacity: 0;
          @include mq_maxH() {
            font-size: calc((24 / 1270) * #{$new_vh});
          }
        }
        .lead-house {
          width: (424px/2);
          margin-left: -(160px/2);
          opacity: 0;
          @include mq_maxH() {
            // width: (424/1270) * #{$new_vh});
            // margin-left: -(160/1270) * #{$new_vh});
            width: calc((424 / 1270) * #{$new_vh});
          }
        }
        &.show {
          .copy {
            opacity: 1;
            transition: .5s ease;
          }
          .lead-img {
            opacity: 1;
            transition: .5s ease;
          }
          .lead-txt {
            opacity: 1;
            transition: .5s ease;
          }
          .about {
            opacity: 1;
            transition: .5s ease;
          }
          .about-txt {
            opacity: 1;
            transition: .5s ease;
          }
        }
      }
      .item-content-wrapper { ///アイテムコンテンツ
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        z-index: 3;
        margin-left: (97px/2);

        height: 100%;
        @include mq_maxH() {
          // margin-left: (120/1270) * #{$new_vh});
          margin-left: calc((120 / 1270) * #{$new_vh});
        }
        .item-block {
          position: relative;

          .ph-link {
            @include mq() {
              .ph img, .ph2 img, .ph-switch img {
                transition: .3s ease;
              }
              &:hover {
                .ph img, .ph2 img, .ph-switch img {
                  transform: scale(1.02);
                  transition: .3s ease;
                }
              }
            }
            &.coming {
              pointer-events: none;
            }
          }
          @keyframes switch {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 1;
            }
            51% {
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes dis_appear {
            0% {
                opacity: 1;
            }
            50%,
            100% {
                opacity: 0;
            }
          }
          @keyframes appear {
            0% {
                opacity: 0;
            }
            50%,
            100% {
                opacity: 1;
            }
          }
          .ph, .ph2 {
            position: relative;
            z-index: 2;
            a {
              img {
                -webkit-transition: .3s ease;
                transition: 0.3s ease;
              }

              &:hover img {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
              }
            }
          }
          .deco-arrow {
            &.show {
              clip-path: inset(0)!important;
            }
          }
          .txt-contents {
            .name {
              @include DNPShueiMinPr6N_B();
              font-size: (26px/2);
              margin-bottom: 5.5px;
              @include mq_maxH() {
                // margin-bottom: (10/1270) * #{$new_vh});
                margin-bottom: calc((10 / 1270) * #{$new_vh});
                font-size: calc((36 / 1270) * #{$new_vh});
              }
            }
            .detail {
              @include DNPShueiMinPr6N_L();
              font-size: (26px/2);
              line-height: (38/26);
              font-feature-settings: "palt";
              text-align: justify;
              @include mq_maxH() {
                // margin-bottom: (10/1270) * #{$new_vh});
                margin-bottom: calc((10 / 1270) * #{$new_vh});
                font-size: calc((24 / 1270) * #{$new_vh});
              }
            }
            .credit {
              display: flex;
              align-items: center;
              font-size: 11px;
              margin-bottom:calc(26px/2);
              @include DNPShueiMinPr6N_B();
              @include mq_maxH() {
                // margin-bottom: (10/1270) * #{$new_vh});
                margin-bottom: calc((10 / 1270) * #{$new_vh});
              }
              .price {
                // @include font_DNP_ShueiMGoStd_B();
                margin-right: (30px/2);
                @include mq_maxH() {
                  font-size: calc((28 / 1270) * #{$new_vh});
                  // margin-right: (30/1270) * #{$new_vh});
                  margin-right: calc((30 / 1270) * #{$new_vh});
                }

                .tax{
                  font-size: 10px;
                  display: inline-block;
                  margin-left: 5.5px;
                }
              }
              .buy-btn {
                width: 40px;


                @include mq_maxH() {
                  font-size: calc((24 / 1270) * #{$new_vh});
                }
              }
            }
            .credit-wrap{
              display: flex;
              gap: calc(36px/2);
            }
          }
          &.block1 {
            .ph {
              width: (851px/2);
              margin-top: (98px/2);
              transform: rotate(-5deg);
              @include mq_maxH() {
                // width: (755/1270) * #{$new_vh});
                // margin-top: (180/1270) * #{$new_vh});
                width: calc((755 / 1270) * #{$new_vh});
                // margin-top: calc((180 / 1270) * #{$new_vh});
                margin-top: (180/755)*100%;
              }
            }
            .ph2 {
              width: (776px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: (490px/2);
              margin-right: -(510px/2);
              transform: rotate(-5deg);
              @include mq_maxH() {
                // width: (776/1270) * #{$new_vh});
                // margin-top: (490/1270) * #{$new_vh});
                // margin-right: -(510/1270) * #{$new_vh});
                width: calc((776 / 1270) * #{$new_vh});
                // margin-top: calc((490 / 1270) * #{$new_vh});
                // margin-right: calc(-(510 / 1270) * #{$new_vh});
                margin-top: (490/776)*100%;
                margin-right: -(510/776)*100%;
              }
            }
            .txt-contents {
              width: (409px/2);
              margin-top: 25px;
              position: relative;
              z-index: 3;
              @include mq_maxH() {
                // width: (409/1270) * #{$new_vh});
                // margin-top: -(175/1270) * #{$new_vh});
                width: calc((409 / 1270) * #{$new_vh});
                // margin-top: calc(-(175 / 1270) * #{$new_vh});
                margin-top: -(175/775)*100%;
              }
            }

            .detail{
              width:calc(319px/2);
            }

            .deco-illust {
              width: (293px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: (24px/2);
              margin-right: -(325px/2);
              @include mq_maxH() {
                width: calc((358/1270) * #{$new_vh});
                // margin-right: calc(-(90/1270) * #{$new_vh});
                margin-right: -(90/775)*100%;
              }
            }
            .deco-crown {
              width: (263px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: (115px/2);
              @include mq_maxH() {
                width: calc((358/1270) * #{$new_vh});
                // margin-right: calc(-(90/1270) * #{$new_vh});
                margin-right: -(90/775)*100%;
              }
            }
          }
          &.block2 {
            margin-top: calc(740px/2);
            margin-left: -240px;
            @include mq_maxH() {
              // margin-left: (550/1270) * #{$new_vh});
              margin-left: calc((550/1270) * #{$new_vh});
            }
            .ph {
              width: (708px/2);
              @include mq_maxH() {
                width: calc((401/1270) * #{$new_vh});
              }
            }
            
            .txt-contents {
              margin-top: calc(37px/2);
              margin-left: 40px;
              @include mq_maxH() {
                margin-top: calc(-(45/1270) * #{$new_vh});
              }

              .credit-wrap{
                display: flex;
                gap: calc(36px/2);
              }
              .detail {
                width: (624px/2);
                @include mq_maxH() {
                  width: calc((407/1270) * #{$new_vh});
                }
              }
              .credit {
                width: (237px/2);
                @include mq_maxH() {
                  width: calc((470/1270) * #{$new_vh});
                }
              }
            }

            .deco-illust1{
              position: absolute;
              top: 0;
              left: 0;
              width: calc(290px/2);
              margin-top: calc(261px/2);
              margin-left: calc(-436px/2);
            }
            .deco-illust2{
              position: absolute;
              top: 0;
              left: 0;
              width: calc(274px/2);
              margin-top: calc(445px/2);
              margin-left: calc(-210px/2);
            }

            .deco-crown{
              position: absolute;
              top: 0;
              left: 0;
              width: calc(250px/2);
              margin-left: calc(-128px/2);
              margin-top: calc(65px/2);
            }
           
          }

          &.block3{
            margin-top: calc(288px/2);
            .ph{
              width: calc(582px/2);
            }

            .txt-contents{
              margin-top: 20px;
              margin-left: calc(84px/2);
              
              .detail{
                width: calc(396px/2);
              }
            }


            .deco-illust1{
              width: calc(112px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-241px/2);
              margin-right: calc(197px/2);
            }
            .deco-illust2{
              width: calc(131px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-250px/2);
              margin-right: calc(45px/2);
            }
            .deco-illust3{
              width: calc(202px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-238px/2);
              margin-right: calc(-182px/2);
            }
            .deco-illust4{
              width: calc(223px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(703px/2);
              margin-right: calc(300px/2);
            }

            .deco-illust5{
              width: calc(333px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(708px/2);
              margin-right: calc(-86px/2);
            }

            .deco-crown{
              width: calc(250px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-117px/2);
              margin-right: calc(327px/2);
            }
          }

          &.block4{
            margin-top: calc(120px/2);
            margin-left: calc(83px/2);

            .ph{
              width: calc(850px/2);
            }
            .txt-contents{
              margin-top: calc(-150px/2);
              margin-left: calc(51px/2);
            }
            .detail{
              width: calc(396px/2);
            }

            .deco-illust1{
              width: calc(434px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(871px/2);
              margin-right: calc(-220px/2);
            }

            .deco-crown{
              width: calc(263px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(663px/2);
              margin-left: calc(-143px/2);
            }
          }

          &.block5{
            margin-top: calc(38px/2);
            margin-left: calc(-147px/2);
            .ph{
              width: calc(602px/2);
            }

            .txt-contents{
              margin-left: calc(188px/2);

              .detail{
                width: calc(396px/2);
              }
            }

            .deco-crown{
              width: calc(365px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: -11px;
              margin-left: calc(119px/2);
            }

            .deco-illust1{
              width: calc(230px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-right: calc(-282px/2);
              margin-top: 3px;
            }
          }

          &.block6{
            margin-top: calc(112px/2);
            margin-left: 4px;
            .ph{
              width: calc(959px/2);
              position: relative;
              z-index: 2;
            }

            .txt-contents{
              margin-top: calc(-140px/2);
              margin-left: calc(-171px/2);

              .detail{
                width: calc(624px/2);
              }
            }

            .deco-crown{
              position: absolute;
              top: 0;
              left: 0;
              width: calc(394px/2);
              margin-top: calc(770px/2);
              margin-left: calc(-32px/2);
              z-index: 1;
            }
          }

          &.block7{
            margin-top: calc(25px/2);
            .ph{
              width: calc(618px/2);
            }

            .txt-contents{
              margin-top: calc(-23px/2);
              margin-left: calc(90px/2);
              position: relative;
              z-index: 2;
              .detail{
                width: calc(396px/2);
              }
            }

            .deco-crown1{
              width: calc(246px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(837px/2);
              margin-left: calc(-23px/2);
              z-index: 1;
            }
            .deco-crown2{
              width: calc(301px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(300px/2);
              margin-right: calc(-98px/2);
              z-index: 1;
            }
          }
          &.block8{
            margin-top: calc(763px/2);
            margin-left: calc(-152px/2);
            .ph{
              width: calc(658px/2);
            }

            .txt-contents{
              margin-top: calc(-218px/2);
              margin-left: calc(-331px/2);
              position: relative;
              z-index: 2;
              .detail{
                width: calc(527px/2);
              }
            }

            .deco-illust1{
              position: absolute;
              top: 0;
              left: 0;
              width: calc(213px/2);
              margin-top: calc(189px/2);
              margin-left: calc(-600px/2);
            }
          }
          &.block9{
            margin-top: calc(324px/2);
            margin-left: calc(-436px/2);
            .ph{
              width: calc(551px/2);
            }

            .txt-contents{
              margin-top: calc(-719px/2);
              margin-left: calc(332px/2);
              position: relative;
              z-index: 2;
              .detail{
                width: calc(396px/2);
              }
            }

            .deco-illust1{
              position: absolute;
              top: 0;
              right: 0;
              width: calc(476px/2);
              margin-top: calc(503px/2);
              margin-right: calc(-193px/2);
            }
          }

          &.block10{
            margin-top: calc(67px/2);
            margin-left: calc(28px/2);

            .ph1{
              width: calc(559px/2);
              margin-left: calc(110px/2);
              position: relative;
              z-index: 2;
            }

            .ph2{
              width: calc(352px/2);
              margin-top: calc(52px/2);
            }

            .txt-contents{
              margin-top: calc(-435px/2);
              margin-left: calc(295px/2);
              
              .detail{
                width: calc(527px/2);
              }
            }

            .deco-crown{
              width: calc(365px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(33px/2);
              margin-left: calc(-149px/2);
              z-index: 1;
            }

            .deco-illust{
              position: absolute;
              top: 0;
              right: 0;
              width: calc(248px/2);
              margin-top: calc(502px/2);
              margin-right: calc(-176px/2);
            }
          }

          &.block11{
            margin-top: calc(650px/2);
            margin-left: calc(-274px/2);

            .ph{
              width: calc(881px/2);
            }

            .txt-contents{
              margin-top: calc(-474px/2);
              margin-left: calc(-97px/2);

              .name{
                margin-bottom: calc(19px/2);
              }

              .price{
                margin:  0 0 calc(21px/2) 0;
              }

              .credit{
                flex-direction: column;
                align-items: normal;
                width: fit-content;
              }

              .detail{
                width: calc(320px/2);
                margin-left: calc(-271px/2);
                margin-top: calc(75px/2);
              }
            }
          }

          &.block12{
            margin-top: calc(174px/2);
            margin-left: calc(-362px/2);
            .ph{
              width: calc(296px/2);
            }

            .txt-contents{
              margin-top: calc(-544px/2);
              margin-left: calc(-318px/2);

              .detail{
                width: calc(319px/2);
              }
            }
          }
          &.block13{
            margin-top: calc(80px/2);
            margin-left: calc(61px/2);
            .ph{
              width: calc(650px/2);
            }

            .txt-contents{
              margin-top: calc(35px/2);
              margin-left: calc(-33px/2);

              .detail{
                width: calc(464px/2);
              }
            }
          }
          &.block14{
            margin-top: calc(623px/2);
            margin-left: calc(-207px/2);
            .ph{
              width: calc(485px/2);
            }

            .txt-contents{
              margin-top: calc(-347px/2);
              margin-left: calc(-272px/2);

              .detail{
                width: calc(319px/2);
              }
            }

            .deco-kirakira{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(284px/2);
              margin-right: calc(-91px/2);
            }
          }
          &.block15{
            margin-top: calc(91px/2);
            margin-left: calc(-71px/2);
            .ph{
              width: calc(630px/2);
            }

            .txt-contents{
              margin-top: calc(-790px/2);
              margin-left: calc(-168px/2);

              .detail{
                width: calc(319px/2);
              }
            }

            .deco-kirakira1{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(434px/2);
              margin-left: calc(-132px/2);
            }
            .deco-kirakira2{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(510px/2);
              margin-right: calc(149px/2);
            }
          }
          &.block16{
            margin-top: calc(309px/2);
            margin-left: calc(-174px/2);
            .ph{
              width: calc(838px/2);
            }

            .txt-contents{
              margin-top: calc(-280px/2);
              margin-left: calc(-272px/2);

              .detail{
                width: calc(467px/2);
              }
            }

            .deco-kirakira{
              width: calc(125px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(-205px/2);
              margin-left: calc(302px/2);
            }
            .deco-illust{
              width: calc(202px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-265px/2);
              margin-right: calc(124px/2);
            }
          }
          &.block17{
            margin-top: calc(70px/2);
            margin-left: calc(14px/2);
            .ph{
              width: calc(759px/2);
            }

            .txt-contents{
              margin-top: calc(61px/2);
              margin-left: calc(120px/2);
              color: #fff;

              .detail{
                width: calc(467px/2);
              }
            }

            .deco-kirakira1{
              width: calc(125px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(754px/2);
              margin-right: calc(174px/2);
            }
            .deco-kirakira2{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-26px/2);
              margin-right: calc(554px/2);
            }
            .deco-kirakira3{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(271px/2);
              margin-left: calc(-105px/2);
            }
            .deco-illust{
              width: calc(336px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(65px/2);
              margin-right: calc(-321px/2);
            }
          }
          &.block18{
            margin-top: calc(705px/2);
            margin-left: calc(38px/2);
            .ph{
              width: calc(662px/2);
              position: relative;
              z-index: 4;
            }

            .txt-contents{
              margin-top: calc(-848px/2);
              color: #fff;

              .detail{
                width: calc(467px/2);
              }
            }

            .deco-kirakira1{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(390px/2);
              margin-left: calc(-80px/2);
            }
            .deco-kirakira2{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-right: calc(91px/2);
            }
            .deco-kirakira3{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(271px/2);
              margin-left: calc(-105px/2);
            }
            .deco-illust1{
              width: calc(325px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(71px/2);
              margin-right: calc(-356px/2);
              z-index: 3;
            }
            .deco-illust2{
              width: calc(273px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(126px/2);
              margin-right: calc(-678px/2);
              z-index: 3;
            }
            .deco-illust3{
              width: calc(1152px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(286px/2);
              margin-right: calc(-917px/2);
              z-index: 2;
            }
          }
          &.block19{
            margin-top: calc(246px/2);
            margin-right: calc(39px/2);
            .ph{
              width: calc(430px/2);
              position: relative;
              z-index: 4;
            }

            .txt-contents{
              margin-top: calc(-690px/2);
              margin-left: calc(-317px/2);
              color: #fff;

              .detail{
                width: calc(467px/2);
              }
            }

            .deco-kirakira1{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-138px/2);
              margin-right: calc(-35px/2);
            }
            .deco-kirakira2{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(441px/2);
              margin-right: calc(-107px/2);
             
            }
            
          }
          &.block20{
            margin-top: calc(63px/2);
            margin-left: calc(101px/2);
            .ph{
              width: calc(773px/2);
              position: relative;
              z-index: 4;
            }

            .txt-contents{
              margin-top: calc(41px/2);
              margin-left: calc(457px/2);
              color: #fff;

              .detail{
                width: calc(467px/2);
              }
            }

            .deco-kirakira{
              width: calc(125px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(792px/2);
              margin-right: calc(65px/2);
            }
            .deco-kirakira2{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(441px/2);
              margin-right: calc(-80px/2);
             
            }

            .deco-illust1{
              width: calc(297px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(49px/2);
              margin-right: calc(120px/2);
              z-index: 3;
            }
            .deco-illust2{
              width: calc(314px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(445px/2);
              margin-right: calc(-194px/2);
              z-index: 3;
            }
            
          }
          &.block21{
            margin-top: calc(243px/2);
            margin-left: calc(218px/2);
            .ph1{
              width: calc(903px/2);
              position: relative;
              z-index: 4;
            }
            .ph2{
              width: calc(543px/2);
              position: relative;
              z-index: 4;
              margin-top: -98.5px;
              margin-left: -70px;
            }

            .txt-contents{
              margin-top: calc(-1149px/2);
              margin-left: calc(-229px/2);
              color: #fff;

              .detail{
                width: calc(344px/2);
              }

              .name{
                line-height: calc(38/26);
              }
            }

            .deco-kirakira1{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(531px/2);
              margin-left: calc(-38px/2);
            }
            .deco-kirakira2{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(271px/2);
              margin-left: calc(-80px/2);
             
            }
            .deco-kirakira3{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(869px/2);
              margin-left: calc(441px/2);
             
            }
            .deco-kirakira4{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(-146px/2);
              margin-left: calc(532px/2);
             
            }
            .deco-kirakira5{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(770px/2);
              margin-left: calc(750px/2);
             
            }

            .deco-yajirushi{
              width: calc(57px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(507px/2);
              margin-left: calc(47px/2);
              z-index: 3;
            }
            
          }

          &.block22{
            margin-top: calc(312px/2);
            margin-left: calc(134px/2);
            .ph{
              width: calc(845px/2);
              position: relative;
              z-index: 4;
            }

            .txt-contents{
              margin-top: calc(-305px/2);
              margin-left: calc(-104px/2);
              color: #fff;

              .detail{
                width: calc(344px/2);
              }
            }

            .deco-kirakira1{
              width: calc(89px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-251px/2);
              margin-right: calc(66px/2);
            }
            .deco-kirakira2{
              width: calc(54px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(412px/2);
              margin-left: calc(-89px/2);
             
            }

            .deco-illust1{
              width: calc(583px/2);
              position: absolute;
              top: 0;
              left: 0;
              margin-top: calc(-312px/2);
              margin-left: calc(-279px/2);
              z-index: 3;
            }
            .deco-illust2{
              width: calc(287px/2);
              position: absolute;
              top: 0;
              right: 0;
              margin-top: calc(-266px/2);
              margin-right: calc(220px/2);
              z-index: 4;
            }
            
          }

          

          
        }
      }

      .info{
        min-width: calc(750px/2);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 35.5px;

       
        .info-heading{
          @include DNPShueiMinPr6N_B();
          font-size: 10px;
          color: #fff;
          margin-top:calc(63px/2);
        }
        
        .info-ttl{
          @include DNPShueiMinPr6N_B();
          font-size: calc(36px/2);
          color: #fff;
          text-align: center;
          margin-top: calc(27px/2);
          margin-bottom: calc(52px/2);
          line-height: calc(48/36);
        }

        .phone-illust{
          width: calc(269px/2);
          position: relative;
          margin-bottom: calc(50px/2);
        }

        .deco-illust1{
          position: absolute;
          top: calc(328px/2);
          left: calc(-56px/2);
          width: calc(186px/2);
        }
        .deco-illust2{
          width: calc(156px/2);
          position: absolute;
          top: calc(333px/2);
          right: calc(-36px/2);
        }
        .deco-illust3{
          width: calc(224px/2);
          position: absolute;
          top: calc(75px/2);
          left: calc(25px/2);
        }

        .deco-kirakira1{
          position: absolute;
          top: 0;
          left: 0;
          width: calc(125px/2);
          margin-top: calc(241px/2);
          margin-left: calc(-256px/2);
        }

        .deco-kirakira2{
          position: absolute;
          top: 0;
          right: 0;
          width: calc(89px/2);
          margin-top: calc(4px/2);
          margin-right: calc(-193px/2);
        }
        .deco-kirakira3{
          position: absolute;
          top: 0;
          right: 0;
          width: calc(89px/2);
          margin-top: calc(439px/2);
          margin-right: calc(-188px/2);
        }

        .insta-btn{
          background: #fff;
          color: #343c55;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(563px/2);
          border-radius: calc(56px/2);
          padding: calc(39px/2) 0;
          @include DNPShueiMinPr6N_B();
          font-size: 14px;
          margin-bottom: calc(31px/2);


          .insta-icon{
            width: calc(47px/2);
            display: block;
            margin-right: calc(25px/2)
          }

          .insta-txt{
            font-size: 14px;
            font-feature-settings: "palt";

          }
        }

        .allitems{
          background: #fff;
          color: #343c55;
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(563px/2);
          border-radius: calc(56px/2);
          padding: calc(39px/2) 0;
          @include DNPShueiMinPr6N_B();
          font-size: 14px;
        }


      }

      .footer{
        min-width: calc(750px/2);
        color: #fff;

        .footer-main-img{
          width: 100%;
          position: relative;

          .ofuda{
            width: calc(67px/2);
            position: absolute;
            top: calc(44px/2);
            left: calc(38px/2);
          }
        }

        .footer-txt{
          @include DNPShueiMinPr6N_B();
          font-size: 14px;
          text-align: center;
          line-height: calc(46/28);
          margin-top: calc(31px/2);
          margin-bottom: calc(18px/2);
        }

        .footer-page2-btn{
          @include DNPShueiMinPr6N_B();
          font-size: 14px;
          text-align: center;
          margin: 0 auto;
          display: block;
          width: fit-content;
          position: relative;
          margin-bottom: calc(95px/2);

          &::before{
            content: '';
            display: block;
            width: calc(112px/2);
            position: absolute;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
            background: #fff;
            height: 1px;
          }

          .kakko1{
            margin-right: 12px;
          }
          .kakko2{
            margin-left: 12px;
          }
        }

        .credit{
          @include DNPShueiMinPr6N_L();
          font-size: 11px;
          line-height: calc(38/22);
          font-feature-settings: "palt";
          margin-bottom: 20px;
        }

        .copyright{
          width: fit-content;
          @include DNPShueiMinPr6N_L();
          font-size: 11px;
          margin-left: calc(342px/2);
        }
      }
      

    }
  }
}

.a {
  & .obj1-1 {
    animation: shift_front 1s steps(1) 0.6s infinite;
  }
  & .obj1-2 {
    animation: shift_back 1s steps(1) 0.6s infinite;
  }
}
@keyframes shift_front {
  0% {
      opacity: 1;
  }
  50%,
  100% {
      opacity: 0;
  }
}

@keyframes shift_back {
  0% {
      opacity: 0;
  }
  50%,
  100% {
      opacity: 1;
  }
}