@charset "UTF-8";
$break_point: 768px;
$bg_color: #fffef1;
$base_w_sp: 750;
$base_w: 2732;


@mixin mq() {
  @media screen and (min-width: $break_point) {
    @content;
  }
}
@mixin mq_maxH() {
  @media screen and (max-height: $break_pointH) {
    @content;
  }
}

@mixin font_size_responsive($size: 30, $pc_vw: false) {
  $size_vw_sp: calc($size/($base_w_sp/100));
  $size_vw_pc: calc($size/($base_w/100));
  $size_rem: calc($size/20);

  font-size: #{$size_vw_sp}vw;
  @media screen and (min-width: $break_point) {
      @if $pc_vw == true {
          font-size: #{$size_vw_pc}vw;
      }
      @else {
          font-size: #{$size_rem}rem;
      }
  }
}

@mixin DNPShueiMinPr6N_L(){
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin DNPShueiMinPr6N_M(){
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 500;
  font-style: normal;
}
@mixin DNPShueiMinPr6N_B(){
  font-family: "dnp-shuei-mincho-pr6n", sans-serif;
  font-weight: 600;
  font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-family: inherit;*/
  font-weight: normal;
  vertical-align: baseline;
  box-sizing: border-box;
}
*, ::after, ::before {
	box-sizing: border-box;
	border-style: solid;
	border-width: 0
}
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent
}
address, blockquote, dl, figure, form, iframe, p, pre, table {
	margin: 0
}
h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0
}
ol, ul {
	margin: 0;
	padding: 0;
	list-style: none
}
a {
	background-color: transparent;
	text-decoration: none;
	color: inherit
}
html {
	font-size: 62.5%
}
img, svg, video {
	width: 100%;
	height: auto;
	vertical-align: bottom
}
img {
  user-drag: none;
  -webkit-user-drag: none;
}
@media screen and (max-width:$break_point) {
	.sp {
		display: block;
	}
	.pc {
		display: none!important;
	}
}
@media screen and (min-width:$break_point) {
	.sp {
		display: none!important;
	}
	.pc {
		display: block;
	}
}

body, html {
	width: 100%;
	height: 100%;
}


.page-wrapper{
  height: 100vh;
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition:opacity 1s ease ;
  overflow: hidden;

  &.show{
    opacity: 1;
    visibility: visible;

    .heading{
      opacity: 1;
      clip-path:inset(0 0 0 0);
      
    }

    .main-ttl{
      opacity: 1;
      filter: blur(0);
    }

    .main-lead{
      opacity: 1;
      filter: blur(0);
    }

    .main-catch,.yoyaku-ofuda{
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }

    .page2-main,
    .page1-main,
    .page1-main-pc{
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }

    .page-btn{
      width: calc(272/1054)*100%;
      opacity: 1;
    }

    .page-btn-txt{
      opacity: 1;
    }

    .page1{
      opacity: 1;
      transform: translateX(0);
      .page-ofuda{
        img{
          animation: sample_anime01 2.8s ease 2s;
          opacity: 1;

        }
      }
    }
    .page2{
      opacity: 1;
      transform: translateX(0);
      .page-ofuda{
        img{
          animation: sample_anime02 2.8s ease 2s;
          opacity: 1;

        }
      }
    }


  }

  @include mq{
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-catch{
  position: absolute;
  width: calc(39/$base_w_sp)*100%;
  top: calc(50/1270)*100%;
  right: calc(38/$base_w_sp)*100%;
  z-index: 4;
  clip-path: inset(0 0 100% 0);
  transition:opacity 1s ease 1.3s,clip-path 1s ease 1.3s;
  opacity: 0;
}
.heading{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  transition:clip-path .8s ease 1.3s,opacity 1s ease 1.3s;
  
  @include mq{
    margin-top: 5.495256%;
  }
}

// .heading-ttl{
//   font-family: "TsukushiAMaruGothic-B";
//   @include font_size_responsive(46,true);
//   color: #2c0801;
//   -ms-writing-mode: tb-rl;
//   writing-mode: vertical-rl;
//   line-height: calc(61/46);
// }

.heading-txt{
  // @include DNPShueiMinPr6N_M();
  // @include font_size_responsive(22,true);
  // line-height: calc(38/22);
  // -ms-writing-mode: tb-rl;
  // writing-mode: vertical-rl;
  @include mq{
    margin-right: calc(50/1054)*100%;
    width: calc(445/1054)*100%;
  }
}

// .heading-txt2{
//   margin-right: calc(49/1054)*100%;
// }

.main-ttl-wrapper{
  
  @include mq{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
}

.main-ttl-background{
  display: none;
  @include mq{
  // position: absolute;
  display: block;
    
    &::before{
      content: '';
      background-image: url(/static/docs/nikoand/pages/202312product_zakka/assets/img/tobira-background.png);
      display: block;
      width: 102%;
      height: 100%;
      background-repeat: repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  
    img{
      height: 100vh;
      -webkit-border-before-width: 100%;
    }
  }
}

.main-ttl{
  width: calc(384/$base_w_sp)*100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
  opacity: 0;
  filter: blur(10px);
  transition:opacity 1.1s ease .8s,filter 1.1s ease .8s;
  
  @include mq{
    width: calc(442/630)*100%;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    transition:opacity 1.1s ease .1s,filter 1.1s ease .1s;
  }
}

.page1,.page2{
  @include mq{

    &:hover{
      filter: brightness(0.6);

      .page-btn-txt{
        transform: scale(1.05);
      }
    }
  }
}


.page1{
  height: 50%;
  // background-color: #7eb8cb;
  position: relative;
  display: block;
  background: #7eb8cb;
  opacity: 0;
  transition:background 1s ease .1s, filter .4s ease;
  cursor: pointer;

  

  @include mq{
    width: calc(1054/$base_w)*100%;
    height: 100vh;
    padding-top: 100vh;
    transform: scaleX(0);
    background: transparent;

  }

  .heading{
    @include mq{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
    }
  }

  .heading-ttl{
    @include mq{
      width: calc(165/1054)*100%;
    }
  }

  
}

.page1-main{
  width: calc(542/$base_w_sp)*100%;
  padding-top: calc(50/$base_w_sp)*100%;
  margin-left: calc(115/$base_w_sp)*100%;
  opacity: 0;
  clip-path: inset(0 0 100% 0);
  transition:opacity 1s ease .1s,clip-path 1s ease .2s;
  
  
  @include mq{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition:opacity 1s ease .6s,clip-path 1s ease .7s;
    background: #7eb8cb;
    img{
      width: 100%;
      height: 100vh;
    }
  }

}

.page1-main-pc{
  width: calc(881/1054)*100%;
  position: absolute;
  top: 27.888021%;
  left: calc(56/1054)*100%;
  opacity: 0;
  clip-path: inset(0 0 100% 0);
  transition:opacity 1s ease,clip-path 1s ease;

  img{
    width: 100%;
    height: auto;
  }
}


.page-link{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.page-btn{
  padding: calc(16/1054)*100% 0 calc(23/1054)*100% 0;
  background: #fff;
  border: 1px solid #000;
  border-radius: 36px;
  font-family: "TsukushiAMaruGothic-B";
  @include font_size_responsive(28,true);
  position: absolute;
  bottom: calc(121px/2);
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  opacity: 0;
  transition:width .6s ease 1.6s,opacity 1s ease 1.4s;
  z-index: 10;
  cursor: pointer;

  .page-btn-txt{
    width: calc(153/272)*100%;
    display: block;
    margin: 0 auto;
    transition:opacity .6s ease 2s,transform .5s ease;
    opacity: 0;
  }


}

.page-ofuda{
  position: absolute;
  bottom: calc(40/635)*100%;
  left: calc(40/$base_w_sp)*100%;
  width: calc(67/$base_w_sp)*100%;

  img{
    opacity: 0;
    transition: opacity 1s ease 2s;
  }

  @include mq{
    width: calc(67/1054)*100%;
    left: auto;
    right: calc(60/1054)*100%;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
  }

  @keyframes sample_anime01 {
    0% {
        visibility:visible;
        opacity: 0;
        transform:  rotate(-30deg) scale(1.6);
    }
    30% {
        visibility:visible;
        opacity: 0.8;
        transform:  rotate(5deg) scale(1.02);
    }
    100% {
        visibility:visible;
        opacity: 1.0;
        transform: rotate(0deg);
    }
  }
}

.page2{
  height: 50%;
  position: relative;
  display: block;
  opacity: 0;
  transition:background 1s ease .1s,filter .4s ease;
  background: #f5eac1;
  cursor: pointer;

  @include mq{
    padding-top: 100vh;
    width: calc(1054/$base_w)*100%;
    height: 100vh;
    background: transparent;
  }

  .page-ofuda{
    top: calc(40/635)*100%;
    @include mq{
      top: 50%;
      left: calc(50/1054)*100%;
      transform: translateY(-50%);
    }

    @keyframes sample_anime02 {
      0% {
          visibility:visible;
          opacity: 0;
          transform:  rotate(30deg) scale(1.6);
      }
      30% {
          visibility:visible;
          opacity: 0.8;
          transform:  rotate(-5deg) scale(1.02);
      }
      100% {
          visibility:visible;
          opacity: 1.0;
          transform: rotate(0deg);
      }
    }
  }

  .heading{
    @include mq{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
      width: 100%;
    }
  }

  .heading-ttl{
    @include mq{
      width: calc(161/1054)*100%;
    }
  }

  .heading-txt{
    @include mq{
      width: 43.220114%;
    }
  }
}

.page2-main{
  height: 100%;
  opacity: 0;
  clip-path: inset(0 0 100% 0);
  transition:opacity 1s ease .1s,clip-path 1s ease .2s;
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @include mq{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition:opacity 1s ease .6s,clip-path 1s ease .7s;
    img{
      object-fit: cover;
      width: 100%;
      height: 100vh;
    }
  }

}

.yoyaku-ofuda{
  width: calc(111/$base_w_sp)*100%;
  position: absolute;
  bottom: calc(53/635)*100%;
  left: calc(40/$base_w_sp)*100%;
  clip-path: inset(0 0 100% 0);
  transition:clip-path 1s ease 1.3s,opacity 1s ease 1.3s;
  opacity: 0;
  
  @include mq{
    width: calc(107/1054)*100%;
    margin-right: calc(57/1054)*100%;
    position: relative;
    bottom: auto;
    left: auto;
    transition: none;
  }
}

.main-ttl-wrapper{
  width: calc(100% - ((1054/2732*100%)*2));

  @include mq{
    position: relative;
  }
}


.main-lead{
  @include font_size_responsive(36,true);
  color: #2c0801;
  font-family: "TsukushiAMaruGothic-B";
  text-align: center;
  line-height: calc(50/36);
  z-index: 10;
  @include mq{
    margin-top: calc(70/625)*100%;
    width: calc(368/625)*100%;
  }
  
    opacity: 0;
    filter: blur(10px);
    transition:opacity 1s ease .1s,filter 1s ease .1s;
  
}


